{% extends 'base.html.twig' %}

{% block title %}Painel de Administração{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>Painel do Usuário</h3>
        <hr>
    </div>
{% endblock %}